{% extends 'main/layout.html' %}

{% block title%} Про нас {% endblock%}

{% block content%}
    <div class="features">
        <h1>Про нас</h1>
        <p>Про нас 123 1231 123 123 123 123 123 123 123 123 ljnn sdflfn fsfsfse fefesfsf fsefsfsdcsc svsv sfffere </p>
        <!--<button class="btn btn-danger">Chat</button> -->
        <a href="{% url 'home' %}"><button class="btn btn-danger"></i> Назад на главную страницу </button></a>
        <a href="{% url 'contact' %}"><button class="btn btn-warning"></i> Контакты </button></a>
    </div>
{% endblock%}