{% extends 'main/layout.html' %}

{% block title%} Контакты {% endblock%}

{% block content%}
    <div class="features">
        <h1>Контакты</h1>
        <p>Контакты 123 1231 123 123 123 123 123 123 123 123 ljnn sdflfn fsfsfse fefesfsf fsefsfsdcsc svsv sfffere </p>
        <a href="{% url 'home' %}"><button class="btn btn-danger"></i> Назад на главную страницу </button></a>
        <a href="{% url 'about' %}"><button class="btn btn-warning"></i> На страницу про нас</button></a>
    </div>
{% endblock%}