{% extends 'main/layout.html' %}
{% block title%} {{ title }} {% endblock%}
{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem20 123 1231 123 123 123 123 123 123 123 123 ljnn sdflfn fsfsfse fefesfsf fsefsfsdcsc svsv sfffere </p>
        <!--<button class="btn btn-warning">На страницу про нас</button> -->
        <a href="{% url 'about' %}"><button class="btn btn-warning"></i>На страницу про нас</button></a><br><br/>
        <a href="{% url 'news_home' %}"><button class="btn btn-warning"></i>На страницу новости</button></a><br><br/>
        <a href="{% url 'contact' %}"><button class="btn btn-warning"></i>На страницу контакты</button></a><br><br/>

        {% for el in values %}
            {% if el == 'Hello' %}
                <p>{{ el|upper }}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
    <!-- {% include 'main/test.html' %} -->
{% endblock%}